<head>
  <title>{{ if .IsHome }}{{ .Site.Params.title }}{{ else }}{{ .Title }}{{ end }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ if .Params.Description }}{{ .Params.Description }}{{ else }}{{ .Summary | plainify }}{{ end }}{{ end }}" />
    <meta name="dc.relation" content="{{ .Site.BaseURL }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="{{ .Site.Params.keywords }}{{ if .Params.tags }}{{ range .Params.tags }}, {{ . }}{{ end }}{{ end }}" />
    <meta name="robots" content="noodp" />
    <meta name="robots" content="noydir" />
    <link rel="alternate" type="application/atom+xml" title="{{ .Title }} RSS Feed" href="{{.Site.BaseURL}}index.xml" />
    <link rel="canonical" href="{{ .Permalink }}" />
    <script type="module" src="{{ .Site.BaseURL}}js/color-modes.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL}}js/bootstrap.bundle.min.js"></script>

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}
    {{ $style := resources.Get "scss/main.scss" | toCSS  $options | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen"/>
    <link rel="stylesheet" href="{{ .Site.BaseURL}}css/calendar.css" media="screen"/>

    <link rel='shortcut icon' type='image/x-icon' href='{{.Site.BaseURL}}favicon.ico' />
    {{ range $val := $.Site.Params.customCSS }}
      {{ if gt (len $val) 0 }}
        <link rel="stylesheet" type="text/css" href="{{ $val }}">
      {{ end }}
    {{ end }}

    {{- block "headextra" . -}}{{- end -}}
</head>
